.loader{
    width: auto;
    height: auto;
    padding: 1rem ;
    margin-top: 35rem;
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}